.container-fluid{
    margin-top: 58px;
}
#login_form{
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
}
#login_form #username{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom:-1px;
}
#login_form #password{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom:10px;
}